/**
 *	@author jake.litwicki@gmail.com
 *	@drupal https://drupal.org/user/1878752
 *
 *	@package wow_extras
 *
 *	Define the styles of various extra elements.
 *
 */

#wow-main-character-block ul {
	margin: 0;
	padding: 1em;
}

#wow-main-character-block img {
	float: right;
	margin: 1em;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border: 5px solid transparent;
}

#wow-main-character-block img:hover,
#wow-main-character-block img:focus {
	border: 5px solid #fff;
}

#wow-main-character-block li {
	list-style: none;
	width: 100%;
}